@if (!item.children || item.children.length === 0) {
    <a
        mat-list-item
        [matTooltip]="item.vTooltip"
        matTooltipPosition="right"
        matTooltipClass="tooltip-on-top"
        [routerLink]="item.vRuta"
        routerLinkActive="active-link"
        [style.background-color]="item.vColor"
    >
        <mat-icon>{{ item.vIcono }}</mat-icon>
        <span>{{ item.vTitulo }}</span>
    </a>
}

@if (item.children && item.children.length > 0) {
    <a 
        mat-list-item
        [matTooltip]="item.vTooltip"
        matTooltipPosition="right"
        matTooltipClass="tooltip-on-top"
        (click)="onItemClicked()"
        [class.active-link]="isActive"
        [style.background-color]="item.vColor"
    >
        <mat-icon matListItemIcon>{{ item.vIcono }}</mat-icon>
        <span matListItemTitle>{{ item.vTitulo }}</span>
    </a>
}