.servicio-form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 8px;
    min-width: 300px;
}

.full-width {
    width: 100%;
}

.dialog-progress-bar {
    margin-bottom: 8px;
}