<mat-nav-list>
    @for (item of items; track item.iIdOpcion) {

        @if (item.children && item.children.length > 0) {
            <mat-expansion-panel class="submenu-expansion-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon *ngIf="item.vIcono" [style.color]="item.vColor">{{ item.vIcono }}</mat-icon>
                        <span class="menu-label">{{ item.vOpcion }}</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-submenu-item [items]="item.children"></app-submenu-item>

            </mat-expansion-panel>
        }

        @else {
            <a mat-list-item [routerLink]="item.vRuta" routerLinkActive="active-submenu-link">
                <mat-icon *ngIf="item.vIcono" [style.color]="item.vColor">{{ item.vIcono }}</mat-icon>
                <span class="menu-label">{{ item.vOpcion }}</span>
            </a>
        }
    }
</mat-nav-list>