// src/app/components/estado-usuario/estado-usuario.component.scss
:host {
    // Colores para los estados
    --status-active-bg: rgb(101 193 92 / 15%);
    --status-active-text: #65c15c;
    ///////
    --status-inactive-bg: rgb(252 86 74 / 15%);
    --status-inactive-text: #fc564a;
    ///////
    --status-pending-bg: rgb(255 184 41 / 10%);
    --status-pending-text: #ffb829;
}

::ng-deep {
    .mat-mdc-chip {
        padding: 6px 12px;
        font-size: 12px;
        border-radius: 12px !important;
        font-weight: 500 !important;
        height: auto !important;
        min-height: 24px !important;
        border: none !important;
        min-width: 100px !important;
        text-align: center !important;

        .mdc-evolution-chip__action--primary::before {
            border: none !important;
        }

        .mdc-evolution-chip__action {
            margin: 0 auto !important;
        }

        &.status-active {
            background-color: var(--status-active-bg) !important;

            .mdc-evolution-chip__text-label {
                color: var(--status-active-text) !important;
            }
        }

        &.status-inactive {
            background-color: var(--status-inactive-bg) !important;

            .mdc-evolution-chip__text-label {
                color: var(--status-inactive-text) !important;
            }
        }

        &.status-pending {
            background-color: var(--status-pending-bg) !important;

            .mdc-evolution-chip__text-label {
                color: var(--status-pending-text) !important;
            }
        }

    }
}